.label{
    float: left;
}


.blueprint{
    margin-right: 90px;
    margin-left: 90px;
    margin-bottom: 90px;
    margin-top: 10px;
    /*background-color: #9acef5;*/
    background-color: #9acef5;
}