.label{
    float: left;
}


.blueprint{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    background-color: #9acef5;
    height: auto;
    width: 450px;
}