 /*.profileCard{
    height: 300px;
    float: left;
    width: 300px;
    margin-left: 5px;
}
.main{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.picture{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.profileDescription{
    width: 300px;
}*/

.profilePicture{
    width: 350px;
    height: 300px;

}

.profileDescription{
    border-style: solid;
    width: 350px;
    height: 300px
}
