.card{
    height: 300px;
    float: left;
    width: 300px;
    margin-left: 5px;
}
.main{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.picture{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.visited{
    float: left;
    margin-left: auto;
    margin-right: auto;


    
}